.waiting-room {
  padding: 20px;
}

.link {
  margin-top: 24px;
}

.hint,
.leave,
.link {
  color: var(--text-primary);
  opacity: 0.8;
}

.link {
  max-width: 95%;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: underline;
}

.waiting-title {
  font-size: 28px;
  letter-spacing: 2px;
  margin-bottom: 12px;
  color: var(--text-primary);
}

.hint {
  line-height: 24px;
}

.buttons {
  margin-top: 48px;
}
