.menu {
  background: var(--dark-bg);
  color: var(--text-primary) !important;
  width: 150px;
  padding: 4px;
}

.menu-item {
  position: relative;
  border-radius: 15px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-item:hover {
  color: var(--text-primary) !important;
  background: var(--primary);
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9;
  transform: translate(-50%, -50%);
}

.loading-icon {
  font-size: 20px !important;
  color: var(--text-dark);
}
