.chat {
  width: 100vw;
  height: 100vh;
  padding: 4px 14px calc(55px + 80px + 4px + 14px + 8px) 14px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #533deb;
}
