.chat {
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  padding: 10px 20px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #533deb;
}
