.chat {
  width: 100%;
  height: calc(100vh - 55px - 64px);
  height: calc(var(--vh, 1vh) * 100 - 55px - 64px);
  padding: 4px 14px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}
