.message {
  position: relative;

  max-width: 60vw;
  min-width: 90px;
  width: fit-content;
  border-radius: 12px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--text-gray);

  padding: 8px;
}

.message:not(:last-child) {
  margin-bottom: 14px;
}

.content {
  word-break: break-all;
}

.mine {
  background: var(--primary);
  margin-left: auto;
  margin-right: 5px;
}

.theirs {
  background-color: var(--theirs-bg);
}

.check-svg {
  transform: scale(0.8);
}

.theirs .check-svg,
.theirs .sent-at {
  color: var(--text-gray-200);
}

.mine .check-svg,
.mine .sent-at {
  color: var(--text-gray-300);
}

.sent-at {
  padding-right: 4px;
}

.bottom-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
  font-size: 10px;
}

.resend-button {
  position: absolute;
  left: -55%;
  top: 50%;
  transform: translateY(-50%);
}

.resend-icon {
  transform: scale(1.1);
}

.error {
  background-color: var(--error) !important;
}
