.message-menu {
  border: none;
  color: var(--text-primary);
  min-width: 180px;
  background-color: transparent;
  border-radius: 10px;
}

.menu-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  border-radius: 10px;
  position: absolute;
  backdrop-filter: blur(70px);
}
