.message {
  max-width: 60vw;
  width: fit-content;
  min-width: 90px;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #c5c5c5;
  position: relative;
}

.message:not(:last-child) {
  margin-bottom: 10px;
}

.sending-text {
  font-size: 10px;
  color: rgb(109, 109, 109);
  margin-right: 6px;
}

.sending-div {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.mine {
  background-color: #533deb;
  margin-left: auto;
  margin-right: 5px;
}

.theirs {
  background-color: #242424;
}

.theirs .content {
  padding-left: 3px;
}

.mine .content {
  padding-right: 3px;
}

.mine:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 17px solid #533deb;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: 5px;
  right: -10px;
}

.theirs:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 17px solid #242424;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: 5px;
  left: -10px;
}

.check-svg {
  width: 14px;
  height: 14px;
}

.sent-at {
  font-size: 11px;
  margin-right: 5px;
}

.theirs .check-svg,
.theirs .sent-at {
  color: #6d6d6d;
}

.mine .check-svg,
.mine .sent-at {
  color: #b2b2b2;
}

.bottom-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 6px;
}

.sending-icon {
  transform-origin: center;
  animation: rotate 2s linear 0.5s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
