.text {
  color: var(--text-white);
  font-size: 14px;
}

.modal-overlay {
  background: var(--overlay);
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 0px 12px 24px 12px;
}

.modal-header {
  background: var(--modal-header);
  padding: 12px 24px;
  color: var(--text-white);

  font-size: 22px;
  border-radius: 15px 15px 0 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider {
  border: none;
  background-color: var(--text-gray-500);
  height: 1px;
}

.close-icon {
  color: var(--text-white);
}
