.text {
  color: var(--text-primary);
  font-size: 16px;
  padding-bottom: 24px;
}

.radio {
  padding-left: 24px;
}

.radio-value {
  color: var(--text-primary);
}

.modal-overlay {
  background: var(--overlay);
}

.menu {
  padding: 0px 12px 24px 12px;
}

.modal-header {
  background: var(--dark-bg);
  padding: 12px 24px;
  color: var(--text-primary);

  font-size: 22px;
  border-radius: 15px 15px 0 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider {
  border: none;
  background-color: var(--border-color);
  height: 1px;
}

.close-icon {
  color: var(--text-primary);
}
