.select-room {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-image: linear-gradient(var(--primary) 20%, var(--bg-stop));
}

.title {
  font-size: 28px;
  color: var(--text-white);
  letter-spacing: 2px;
  margin-bottom: 16px;
  font-weight: bold;
}

.hint {
  font-size: 16px;
  color: var(--text-white);
}

.link {
  font-size: 14px;
  text-decoration: underline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90vw;
  padding: 45px 10px;
  color: var(--text-white);
  word-break: nowrap;
}

.copy {
  letter-spacing: 1px;
}

.loading-text {
  color: var(--text-white);
  margin-top: 12px;
}
