.container {
  bottom: 0;
  width: 100%;
  padding: 6px 14px;
}

.form {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.action-button {
  color: #f3f3f3;
}

.action-button:hover {
  color: #f3f3f3;
}

.input-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: none;

  padding: 6px;

  position: relative;
  background: #0a0a0a;
}

.input-field {
  outline: none;
  overflow-x: none;
  overflow-y: auto;
  overscroll-behavior: contain;

  color: #f3f3f3;
  caret-color: #f3f3f3;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.55px;
  font-family: "Helvetica" !important;
}
