.send {
  padding: 12px 8px;
  background: rgb(26, 26, 26);
  border-radius: 10px 10px 0 0;
  width: 100vw !important;
}

.input-container {
  position: relative;
  border-radius: 10px;
  background-color: #242424;
}

.input-field {
  outline: none;

  min-height: 50px;
  max-height: 105px;
  width: 90%;
  padding-left: 4px;

  overflow-x: auto;
  overscroll-behavior: contain;

  white-space: pre;
  line-break: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #eeeeee;
  caret-color: #eeeeee;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.55px;
  font-family: "Helvetica" !important;
}

.submit-field {
  position: absolute;
  right: 12px;
  bottom: 50%;
  transform: translateY(50%);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  outline: none;
  border: none;
  color: #533deb;
  border: 1px solid #533deb;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  padding-left: 7px;
}

.placeholder {
  opacity: 0.5;
  user-select: none;
}
