.container {
  width: 100vw !important;
  padding: 12px 14px;
  position: sticky;
  bottom: 0;
}

.form {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.action-button {
  color: #f3f3f3;
}

.action-button:hover {
  color: #f3f3f3;
}

.input-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: none;

  padding: 8px;

  position: relative;
  background-color: #272727;
}

.input-field {
  outline: none;
  overflow-x: none;
  overflow-y: auto;
  overscroll-behavior: contain;

  color: #f3f3f3;
  caret-color: #f3f3f3;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.55px;
  font-family: "Helvetica" !important;
}
