.menu {
  background: var(--dark-bg);
  color: var(--text-primary) !important;
  width: 150px;
  padding: 4px;
}

.menu-item {
  border-radius: 15px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-item:hover {
  color: var(--text-primary) !important;
  background: var(--primary);
}
