.video-container {
  width: 100%;
  height: 50vh;
}

.close-icon {
  color: var(--text-primary);
}

.button-holder {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload {
  display: none;
}

.image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
}
