html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-UltraLight-06.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-UltraLightItalic-07.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-Thin-13.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-ThinItalic-14.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-Light-08.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-LightItalic-09.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-01.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-Italic-03.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-Medium-11.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-MediumItalic-12.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-Bold-02.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-BoldItalic-04.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/font/HelveticaNeue-CondensedBlack-10.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

[data-theme="light"] {
}

[data-theme="dark"] {
  --chat-bg: #242424;
  --primary: #533deb;
  --menu-border: #808080;
  --chat-outline: #3e3e3e;
  --box-shadow: #0f0f0fbf;
  --chat-bg-2: #0a0a0a;
  --date-header: #d1d1d1;
  --date-background: #fefefe67;
  --glass-bg: #31313161;
  --text-white: #f3f3f3;
  --menu-bg: #27232333;
  --text-gray: #c5c5c5;
  --theirs-bg: #272727;
  --text-gray-200: #6d6d6d;
  --text-gray-300: #b2b2b2;
  --error: #ff7874;
  --overlay: #0000008f;
  --modal-header: #303030;
  --text-gray-500: #9e9e9e;
  --bg-stop: #1a1a1a;
}

.chat-app {
  background: var(--chat-bg);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--chat-bg);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* .ant-modal-body {
  padding: 0px;
} */

.ant-menu {
  border: 1px solid var(--menu-border);
  border-radius: 15px;
}

.ant-modal-header {
  padding: 0;
  border: none;
}

.ant-menu-title-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ant-modal-content {
  border-radius: 15px;
  background: transparent;
}

.ant-modal-header {
  background: transparent;
  border-radius: 15px 15px 0 0;
}

.ant-modal-body {
  border-radius: 0 0 15px 15px;
}
